@tailwind base;
@tailwind components;
@tailwind utilities;

#footer-banner span {
    @apply text-secondary.main font-semibold uppercase
}

@media screen and (max-width:640px) {
    .container{
        width:100%;
        padding-left:16px;
        padding-right:16px;
    }
}
